body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  text-align: center;
  font-size: 3em;
}

.container{
  display: flex;
  flex-direction: row;
  /* width: 60vw;
  height: 85vh; */
}



#columnWrap {
  display: flex;
  width: 500px;
  height: 400px;
  border: 1px solid black;
  
}

.column {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid black;
  flex-grow: 1;
  justify-content: flex-start;
  max-width: 70px;
}

.blackDisc {
  margin: 5px;
  align-self: center;
  pointer-events: none;
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.redDisc {
  margin: 5px;
  align-self: center;
  pointer-events: none;
  background-color: red;
  border-radius: 50%;
  border: 1px solid red;
  height: 50px;
  width: 50px;
}

